*{
    padding: 0;
    margin: 0;
}

body{
    margin: 8px;
    overflow-y: scroll;
    background: black;
}

.notice{
    color: orange;
    font-family: sans-serif;
    padding-top: 300px;
    text-align: center;
    font-size: 50px;
}

blink{
    transition: 0.5s;
}

.btn{
    width: 100px;
    height: 30px; 
    background: orange;
    border: 2px solid orange;
    margin-top: 25px;
    border-radius: 20px;
}

.btn a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: 'calibri';
    font-weight: bolder;
}